@model List<Sticker>

@if (Model.Count > 0)
{
    @foreach (Sticker sticker in Model)
    {
        <div class="col" style="margin-right: 2px;">
            <div class="container sticker" data-stickerid="@sticker.Id" data-stickerImage="@sticker.Image" data-stickername="@sticker.Name"  style="border: 1px solid #D5DBDB;padding:2px; border-radius: 4px;">
                <div class="row no-gutters">
                    <div class="col-md-12 text-center" style="background-color: #EAEDED">
                        <img src="@sticker.Image" style="height: 48px;" />
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <p style="white-space: nowrap; overflow: hidden; text-overflow: clip; margin-bottom: 0px;">@sticker.Name</p>
                        </div>
                        <div class="col-md-12">
                            <img src="~/images/gold.gif" width="24" height="24" /><span style="font-size: 14px;vertical-align: middle; margin-left: 4px;">@sticker.PriceCoins coins</span>
                        </div>
                    </div>
                    @*<div class="col-md-4 text-center center-content">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <button type="button" class="btn btn-success btnBuy" style="border-radius: 8px;padding: 6px 8px;" onclick="BuySticker('@sticker.Id','@sticker.Image','@sticker.Name',@sticker.PriceCoins, @sticker.PriceUSD)" data-toggle="modal" data-target="#purchase-modal">Buy</button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-success btnBuy" style="border-radius: 8px;padding: 6px 8px;" onclick="RequireLogin('you account')">Buy</button>
                            }
                        </div>*@
                </div>
            </div>
        </div>
    }
}

<script>
    $(document).ready(function () {
        $(".sticker").click(function () {
            $("#btnSelect").attr("data-stickerid", $(this).attr("data-stickerid"));
            $("#btnSelect").attr("data-stickerurl", $(this).attr("data-stickerImage"));
            $(".txtSelectedStickerName").html($(this).attr("data-stickername"));
            $("#btnSelect").attr("disabled", false);
            $(".sticker").removeClass("selected");
            $(this).addClass("selected");
        });
    });
</script>